<!-- Libs JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<script src="../../dist/libs/apexcharts/dist/apexcharts.js?1674944402" defer></script>
<script src="../../dist/libs/jsvectormap/dist/js/jsvectormap.min.js?1674944402" defer></script>
<script src="../../dist/libs/jsvectormap/dist/maps/world.js?1674944402" defer></script>
<script src="../../dist/libs/jsvectormap/dist/maps/world-merc.js?1674944402" defer></script>
<script src="../../dist/libs/litepicker/dist/litepicker.js?1674944402" defer></script>
<!-- Tabler Core -->
<script src="../../dist/js/tabler.min.js?1674944402" defer></script>
<script src="../../dist/js/common.js" defer></script>

</body>

</html>